<li class="alert-head">ALERTS</li>
{% for alert in alerts %}
<li class="alert-entry {% if alert.visited == 0 %} bgCol {% endif %}">
    <a href="#">
        <div>
            <p id={{alert.id}} class="view_alert_log">
            {% if alert.visited == 0 %}
                <strong>{{alert.alert_content}}</strong>
            {% else %}
                {{alert.alert_content}}
            {% endif %}
            </p>
        </div>
    </a>
</li>
{% endfor %}
 <li class="view-all-alerts">
     <a id="all-alert" href="#">View All Alerts</a>
 </li>